@import './variables.scss';
@import './typography.scss';
@import './media.scss';

/* GENERAL */

html {
  //background-color: $red;
  //filter: blur(.25px);
  transition: all 0.20s ease-in-out;
  //filter: blur(0.28px);
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Greycliff CF';
  font-size: 13.5px;
  //background-color: $red;
  color: $text;
  //padding: 5%;
  line-height: 1em;
  transition: all 0.20s ease-in-out;
  background: $pink;
  //height: 100%;
}

svg, img {
  //animation: 1.25s expandOpen ease-out;
}

a {
  text-decoration: none;
  color: $white;
  cursor: pointer;
  &:visited {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    text-decoration: none;
    //color: $berg-blue;
  }
}

::-moz-selection { 
  color: $white;
  background: $blue;
}
::selection { 
  background: $blue;
  color: $white;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
button,
input[type="submit"] {
  transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
  border-radius: 0;
  font-family: 'Greycliff CF';
  cursor: pointer;
}
header {
  margin-bottom: 15px;
}
header, footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  //text-align: center;
  color: $red;
  //width: 100%;
  z-index: 500;
  &.mobile-only {
    display: none;
  }
  h1 {
    //color: $light-grey;
    margin: 0;
    padding: 0;
    .back i {
      font-size: 1.5em !important;
      color: $red;
      margin-top: -10px;
      transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
      &:hover {
        color: $blue;
        //opacity: .25;
      }
    }
    &.smile {
      font-size: 2.25em;
      margin-top: 0px;
      margin-left: 5px;
      height: 35px;
      width: 35px;
      position: relative;
      //transform: rotate(-45deg);
      color: $red;
      & i {
        //font-weight: bold;
      }
      & a:hover {
        //opacity: .25;
        color: $red;
        &:before {
          content: '\f59c';
          font-family: 'Font Awesome 5 Free';
          color: $red;
          font-weight: 400;
          z-index: -1;
          //color: $blue;
        }
        &:after {
          content: '\f8c0';
          transform: rotate(8deg);
          position: absolute;
          top: -17px;
          left: 0px;
          font-family: 'Font Awesome 5 Free';
          color: $blue;
          font-weight: 900;
          font-size: .90em;
          z-index: 10;
        }
        & i {
          opacity: 0.0;
        }
      }
    }
    &.title {
      font-size: 1.35em;
      margin-top: 5px;
      font-family: 'Greycliff CF';
      font-weight: 900;
      //transform: rotate(-90deg);
      //position: absolute;
      //left: -30px;
      //top: 100px;
    }
  }

  a, a:visited {
    padding: 0px !important;
    color: $red;
    text-decoration: none;
    transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
    &:hover {
      color: $blue;
      transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
    }
  }
}

.smalltext {
  font-size: 11px;
  display: inline-block;
}

.body-container {
  //padding: 60px;
  //display: table;
  //border: 50px solid white;
  width: 100%;
  //height: 100vh;
  //background-color: $red;
  //background: linear-gradient(25deg, #0025FF, #0025FF, #F3112C, #F3112C, #0025FF, #0025FF);
  //-webkit-animation: gradient 30s ease infinite;
  //-moz-animation: gradient 30s ease infinite;
  //animation: gradient 30s ease infinite;
  //background-repeat: no-repeat;
  //background-size: 500% 500%;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.content {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  align-items: stretch;
  padding: 0px 25px;
  //max-width: 1370px;
  max-width: 1210px;
  margin: 0 auto;
  transition: all 0.25s ease-out;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  //border: 200px solid white;
  &.page {
    //max-width: 1167px;
    //display: block;
    //padding: 50px 65px 50px 65px;
    position: relative;

    & .view-btn {
      position: absolute;
      background: $blue;
      border: 2px solid $blue;
      border-radius: 0;
      padding: 10px 15px;
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: .5px;
      font-family: 'Greycliff CF';
      color: $white;
      //transform: rotate(90deg);
      z-index: 100; 
      top: 30px;
      right: -60px;
      &:hover {
        //background: $red;
        color: $white;
        //border-color: $white;
        & i {
          margin-right: 3px;
          margin-left: 2px;
          color: $red;
          transition: all ease-in-out .25s;
        }
      }
      & i {
        margin-right: 5px;
        font-weight: bold;
      }
    }
    
    & .content-block {
      //width: 195px;
      min-height: 100px;
      //border-color: $red;
      &.white {
        margin: 0px 0 30px 30px;
        //opacity: .10;
        //border-color: $red;
        & .content-block--text {
          border-color: $red;
          bottom: -7px;
          left: 6px;
          width: 101%;
          height: 101%;
          & h1 {
            color: $blue;
          }
          &:hover {
            & h1 {
              color: $red;
            }
          }
        }
      }
      &:after {
        content: '';
        //width: calc(~"100% - 30px");
        //height: calc(~"100% - 20px");
        //padding: 12px 15px;
        display: none;
        border: 2px solid $red;
        position: absolute;
        left: -11px;
        bottom: 11px;
      }
      & h1 {
        font-size: 1.15em;
        margin-bottom: 7px;
        //line-height: .95em;
      }
      & h3 {
        font-size: .95em;
      }
      & p {
        font-size: .95em;
        //margin-bottom: 10px !important;
      }
    }
  }
  .content-block {
    width: 200px;
    min-height: 200px;
    padding: 10px 15px;
    margin: 0 15px 30px 15px; 
    display: inline-block;
    //background: linear-gradient(25deg, #0025FF, #0025FF, #F3112C, #F3112C, #0025FF, #0025FF);
    //-webkit-animation: gradient 30s ease infinite;
    //-moz-animation: gradient 30s ease infinite;
    //animation: gradient 30s ease infinite;
    //background-repeat: no-repeat;
    //background-size: 600% 600%;
    background-color: $white;
    //box-shadow: -7px 7px 0px $blue;
    border: 2px solid $red;
    vertical-align: top;
    text-align: left;
    position: relative;
    transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    & .content-block--text {
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: 80;
      position: absolute;
      bottom: -10px;
      left: 10px;
      border: 2px solid $red;
      padding: 10px 15px;
      transition: all 0.15s ease-in-out;
      -webkit-transition: all 0.15s ease-in-out;
      -moz-transition: all 0.15s ease-in-out;
      -o-transition: all 0.15s ease-in-out;
    }
    &:after {
      content: '';
      width: 101%;
      height: 101%;
      display: inline-block;
      border: 2px solid $red;
      position: absolute;
      left: 4px;
      bottom: -6px;
      background-color: $pink;
    }
    &.white {
      position: relative;
      border: 2px solid $red;
      //min-height: 125px;
      margin: 0 0 25px 25px;
      &:hover, &.current {
        border: 2px solid $blue;
        background-color: $red;
        -webkit-transition: background-color .15s ease-out;
        -moz-transition: background-color .15s ease-out;
        -o-transition: background-color .15s ease-out;
        transition: background-color .15s ease-out;
        &:after {
          border-color: $blue;
          background-color: $pink !important;
            //left: -6px;
            //bottom: -6px;
            //border-color: white;
            //transition: all 0.15s ease-out;
          }
        }
        & .content-block--text {
          //bottom: -7px;
          //left: 6px;
          //width: 101%;
          //height: 101%;
          background-color: $white;
          color: $red;
          &:hover, &.content-block--text.current { 
            border-color: $blue;
            cursor: pointer;
            color: $blue;
            & h1 {
              color: $red;
            }
            & h3 {
              color: $blue;
            }
            & p {
              color: $blue;
            }
            & .content-cover {
              //background: $blue;
              //border-color: $blue;
              transition: all 0.20s ease-in-out;
              //opacity: 1.0;
              //margin-bottom: 8px;
              animation: 0.5s jiggle ease-out;
              & svg g, & svg path {
                fill: $red;
              }
              & .svg-stroke g {
                stroke: $red;
              }
              & h1 {
                color: $red;
              }
            }
          }
          & .content-cover {
            //height: 75px;
            //opacity: 0.35;
            //background: #e2e2e2;
            //border: 2px solid $blue;
            transition: all 0.20s ease-in-out;
            //background: rgba(0,0,0,0.035);
            //width: calc(100% - 4px);
            display: block;
            margin: 5px 0 10px;
            //display: flex;
            //align-items: center;
            & svg g, & img, & svg {
              width: auto;
              height: 35px;
              max-width: 75px;
              //margin: 0 auto;
              fill: $blue;
            }
            & .svg-stroke g {
              stroke: $blue;
            }
            & h1 {
              color: $blue;
              text-transform: uppercase;
              letter-spacing: .25px;
            }
          }
          & h1 {
            color: $red;
          }
          & h3 {
            color: $red;
            //font-family: 'GreycliffCF-ExtraBold'
          }
          & p {
            color: $red;
            position: absolute;
            bottom: 0;
            right: 15px;
            font-weight: 500;
          }
          & .dates {
              color: $red;
              //font-weight: bold;
              font-family: 'Greycliff CF';
              position: absolute;
              //bottom: 10px;
              //margin-bottom: 12px;
              //font-size: 1.25em;
              letter-spacing: .05px;
              text-align: right;
              right: 10px;
              & strong {
                color: $blue;
              }
            }
        }
        & div.content-block--text {
          background-color: $white;
          color: $blue;
          border-color: $red;
          & .dates {
              color: $red;
              //font-weight: bold;
              font-family: 'Greycliff CF';
              position: absolute;
              //bottom: 10px;
              //margin-bottom: 12px;
              //font-size: 1.25em;
              //letter-spacing: .05px;
              text-align: right;
              right: 10px;
              & strong {
                color: $blue;
              }
            }
          &:hover {
            cursor: text;
          }
          & h1, p {
            color: $blue;
          }
          & h3 {
            color: $red;
            font-family: 'Greycliff CF';
          }
        }
        &:after {
          background: $pink;
          -webkit-transition: background-color .25s ease-out;
  -moz-transition: background-color .25s ease-out;
  -o-transition: background-color .25s ease-out;
  transition: background-color .25s ease-out;
        }
        & strong {
          color: $red;
          font-weight: 500;
        }
      }
    &.double {
      width: 424px;
      & a {
        &.content-block--text {
          width: 100.5%;
        }
      }
    }
    &.half {
      width: 307px;
    }
    &.full {
      width: 638px;
    }
    &.project {
      border: none;
      max-width: 1024px;
      width: auto;
      //float: left;
      //margin: 0 20px 40px 10px;
      height: auto;
      //border: 2px solid $blue;
      //padding: 30px 15px;
      //display: block;
      //color: lighten($red, 10%);
      background-color: $white;
      padding: 0;
      margin: 0;
      cursor: text;
      &.height-reg {
        height: 300px;
      }
      &.height-med {
        height: 360px;
      }
      &.height-lrg {
        height: 420px;
      }
      & .content-block--text {
        border: none;
        position: static;
        background-color: $white;
        padding: 0;
        margin: 0;
        width: auto;
        height: auto;
        letter-spacing: -.25px;
        & h1, h3, p {
          padding: 0;
          & strong {
            font-weight: 800;
          }
          & .dates {
            color: $red;
            font-weight: 900;
            text-transform: uppercase;
            font-family: 'Greycliff CF';
            line-height: 1em;
            margin-left: 5px;
            font-size: .40em;
            letter-spacing: .05px;
          }
          &.project-links a {
            border: none;
            text-transform: uppercase;
            padding-bottom: 2px;
            font-weight: 800;
            text-align: right;
            width: 100%;
            color: $red;
            &:hover {
              //border-color: $blue;
              color: $blue;
              & i {
                color: $blue;
              }
            }
            & i {
              margin-left: 2px;
              font-size: .90em;
              color: $red;
            }
          }
        }
      }
      &:after {
        display: none !important;
        background: transparent !important;
        content: none !important;
      }
      &:before {
        display: none !important;
        background: transparent !important;
        content: none !important;
      }
      &:hover {
        cursor: text;
        & .content-block--text {
          border: none;
          cursor: text;
        }
        & h1 {
          color: $blue;
          animation: none !important;
        }
      }
      &.full {
        width: 92%;
        max-width: 785px;
        //max-width: 1175px;
        float: none;
        margin: 0 auto;
        &.white {
          position: relative;
          &:hover {
            cursor: text;
            //border-color: $red;
            background-color: transparent;
          }
          & .content-block--text {
            background-color: $white;
            color: $blue;
            &:hover {
              cursor: text;
              border-color: $red;
            }
            & h1, h3, p {
              color: $blue;
            }
            & .dates {
              color: $red;
              //font-weight: bold;
              font-family: 'Greycliff CF';
              position: absolute;
              //bottom: 10px;
              //margin-bottom: 12px;
              font-size: 1.15em;
              //letter-spacing: .05px;
              text-align: right;
              right: 10px;
              & strong {
                color: $blue;
              }
            }
          }
          &:after {
            background: $white;
          }
          & strong {
            color: $red;
            font-weight: normal;
          }
        }
      }
      h1 {
        font-size: 2.65em;
        margin-bottom: 15px;
        padding: 10px 20px 0 20px;
        line-height: 1em;
        color: $blue;
      }
      h3 {
        font-family: 'Greycliff CF';
        font-size: 1.15em;
        margin: 0 0 15px 0;
        font-style: normal;
        padding: 0 20px;
        color: $blue;
      }
      p {
        font-family: 'Greycliff CF';
        //font-family: 'AddingtonCF-Light';
        font-size: 1.15em;
        padding: 0 20px;
        //bottom: 20px;
        //right: 30px;
        position: static;
        text-align: left;
        //opacity: 1.0;
        line-height: 1.5em;
        //letter-spacing: -.125px;
        //color: rgba(61, 61, 76, 0.75);
        color: $text;
        &:last-child {
          margin-top: 25px;
          margin-bottom: 0px;
        }
        & strong {
          font-weight: 800 !important;
          color: $blue !important;
        }
      }
      a {
        //color: rgba(61,61,76,.75);
        color: $blue;
        border-bottom: 3px solid $pink;
        padding-bottom: 2px;
        font-weight: 800;
        &:hover {
          color: $red;
          border-bottom: 1px solid transparent;
          transition: all 0.15s ease-out;
          -webkit-transition: all 0.15s ease-out;
          -moz-transition: all 0.15s ease-out;
          -o-transition: all 0.15s ease-out;
        }
      }
    }
    h1 {
      //font-family: 'kulturista-web';
      font-family: 'Greycliff CF';
      font-size: 1.20em;
      letter-spacing: -1px;
      text-align: left;
      overflow-wrap: break-word;
      margin-top: 5px;
      line-height: 1.1em;
      color: $white;
    }
    h3 {
      font-size: 1em;
      line-height: 1.1em;
      font-weight: 500;
      letter-spacing: -.25px;
      margin-top: 5px;
      font-family: 'Greycliff CF';
      //font-family: 'AddingtonCF-DemiBoldItalic';
      color: $blue;
      //opacity: 0.5;
    }
  }
}

/*footer {
  clear: both;
  width: 100%;
  text-align: center;
  opacity: .45;
  position: fixed;
  bottom: 30px;
  p {
    font-size: 0.85em;
  }
}*/

.example {
  background-color: $white;
  color: $blue;
  & header {
    padding: 15px 20px 5px;
    background: transparent;
    & h1, a, a:visited {
      color: $red;
      &:hover {
          color: $blue;
        }
      & .back i {
        color: $red;
        &:hover {
          color: $blue;
          //opacity: 0.25;
        }
      }
    }
  }
  & .content {
    &.page {
      margin-top: 15px;
      max-width: 1024px;
      & .project-logo {
        clear: both;
        width: 100%;
        margin-bottom: 40px;
        & svg, & g, & path, & polygon {
          width: 150px;
          fill: $blue;
        }
        & .svg-stroke g {
          stroke: $blue;
          stroke-width: .5px;
        }
        & a {
          &:hover, &:hover svg, &:hover g, &:hover path, &:hover polygon {
            fill: $red;
            color: $red;
          }
          &:hover .svg-stroke g {
            stroke: $red;
          }
        }
      }
      & .project-nav {
        margin-bottom: 25px;
        width: 100%;
        & .content-block {
          max-width: 215px;
          width: inherit;
          &.white {
            margin: 0 25px 25px 0;
            background-color: $pink;
            &:hover, &.current {
              background-color: $red;
            }
            & .content-block--text {
              & p {
                font-size: .85em;
                bottom: -5px;
                right: 10px;
                font-weight: 600;
                text-align: right;
              }
            }
          }
        }
      }
    }
  } 
  /* About Page */
  &.about {
    height: 100vh;
    background: url('../images/mark_malazarte_RD1_transp.png');
    background-size: 34%;
    background-repeat: no-repeat;
    background-position: 94% 100%;
    //background-attachment: fixed;
    /*&:before {
      content: '';
      background-color: rgba(38, 48, 62, 0.40);
      width: 100vw;
      height: 100vh;
      position: fixed;
      bottom: 0;
      z-index: 1;
    }*/
    & header {
      & .left {
        & .back {
          & a {
            & i:hover {
              color: $blue !important;
            }
          }
        }
      }
      & .title {
        & a {
          &:hover {
            color: $blue !important;
          }
        }
      }
    }
    & .page {
      max-width: 770px !important;
      z-index: 100;
      margin: 0 10% 0 10%;
      & footer {
        display: none;
      }
      & .content-block.project {
        background: transparent;
        border: none !important;
        padding: 0px !important;
        color: $blue;
        &:hover {
          h1, h3, p {
            color: $blue !important;
          }
        }
        & h1 {
          margin-left: -2px;
        }
        & h3 strong {
          font-weight: 800 !important; 
        }
        & p strong {
          color: $blue !important;
          font-weight: 800 !important;
        }
        & .content-block--text {
          background-color: transparent !important;
          border: none !important;
          position: static;
          bottom: initial;
          left: initial;
          width: auto;
          height: auto;
          cursor: text !important;
        }
      }
      .about--links {
        display: block;
        & h3 {
          font-size: 1.15em;
          font-weight: 800;
          margin-top: 40px;
          margin-bottom: 15px;
          color: $red;
          & strong {
            color: $blue;
          }
        }
        & ul {
          max-width: 640px;
          margin-top: 35px;
          & li {
            margin: 0 30px 30px 0px;
            display: inline-block;
            position: relative;
            &:before {
              content: '\f186';
              color: $red;
              font-size: 1.5em;
              vertical-align: middle;
              font-family: 'Font Awesome 5 Free';
            }
            &:hover {
              &:before {
                color: $blue !important;
              }
              &:after {
                content: '\f186';
                font-size: 1.5em;
                font-weight: 900;
                vertical-align: middle;
                font-family: 'Font Awesome 5 Free';
                color: $white;
                position: absolute;
                top: 3px;
                left: 2px;
                z-index: -1;
              }
            }
            & a {
              display: inline-block;
              font-size: 1.15em;
              font-weight: 500;
              //border-radius: 500px;
              //box-shadow: -4px -4px 0px $red;
              //padding: 11px 25px 15px;
              min-width: 150px;
              //background-color: $white;
              //border: 2px solid $red;
              //border-left: 4px solid $red;
              padding-left: 10px;
              color: $red !important;
              text-align: left;
              vertical-align: top;
              & p {
                margin: 0;
                padding: 0;
                color: $blue !important;
                //text-shadow: 2px 2px 0px $white;
                font-weight: 800;
                font-size: 1em;
                letter-spacing: -.5px;
              }
              &:hover {
                border-color: $blue;
                & p {
                  color: $red !important;
                }
              }
            }
          }
        }
      }
    }
    & .content-block.links {
      background-color: transparent !important;
      border: 3px solid $red !important;
      z-index: 50;
      width: 225px;
      margin: 20px 18px 5px 7px !important;
      padding: 0 !important;
      & h3, p {
        color: $blue !important;
        font-weight: 500 !important;
      }
      &:hover {
        border-color: $blue !important;
      }
      & .content-block--text {
        background-color: transparent !important;
        border: 0 !important;
        bottom: initial !important;
        left: initial !important;
        position: static;
        padding: 10px 15px;
        display: block !important;
        width: 100% !important;
        height: 100% !important;
        &:hover {
          border-color: $pink !important;
          & h1, h3, p, strong {
            color: $pink !important;
          }
        }
      }
    }
    & p.caption {
      color: $blue !important;
      position: absolute;
      bottom: 15px;
      left: 30px;
      line-height: 1.35em;
      font-size: .85em;
      & em {
        margin-bottom: 5px;
        display: inline-block;
      }
    }
    & h1, h3, p {
      color: $blue !important;
      z-index: 50;
    }
    & p a {
      //color: $blue !important;
      font-weight: 800;
      border-bottom: 2px solid $red !important;
      &:hover {
        color: $red;
        border-color: $blue !important;
      }
    }
  }
  & .page {
    //max-width: 800px;
    //padding: 0px !important;
    //margin-left: 500px;
    //margin-top: -30px;
    //float: left;
    margin: 0 auto;
    & .full {
      max-width: 1024px !important;
      padding: 25px !important; 
      width: 100% !important;
      background: transparent;
      border: 0px;
      & .button-container {
        display: inline-block;
        & a {
          padding: 0;
          border: 0;
          & .view-btn {
            position: relative;
            display: inline-block;
            background: $blue;
            border: 2px solid $blue;
            border-radius: 0;
            padding: 10px 15px;
            text-transform: uppercase;
            font-size: 1em;
            letter-spacing: .5px;
            font-family: 'Greycliff CF';
            color: $white;
            //transform: rotate(90deg);
            z-index: 100; 
            top: inherit;
            left: inherit;
            right: inherit;
            margin: 15px 0;
            &:hover {
              //background: $red;
              color: $white;
              //border-color: $white;
              & i {
                margin-right: 3px;
                margin-left: 2px;
                color: $red;
                transition: all ease-in-out .25s;
              }
            }
            & i {
              margin-right: 5px;
              font-weight: bold;
            }
          }
        } 
      } 
      & .content-block {
        border-color: $red;
        background-color: $pink;
      } 
      & .content-block--text {
        bottom: -7px;
        left: 6px;
        width: 101%;
        height: 101%;
        border: none;
        box-shadow: none;
        padding: 0;
        position: relative;
        top: inherit;
        left: inherit;
        & h1, h3, p {
          padding: 0;
        }
      }
      &:hover {
        border: 0px;
      }
      &:after {
        border: none !important;
        background: transparent !important;
        padding: 0 !important;
      }
    }
  }
  & .prototype {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    margin: 40px 0;
    clear: both;
    //background: $white;
    //background: rgba(255, 255, 255, 0.25);
    //box-shadow: 4px 4px 0px $pink;
    //border: 4px solid $pink;
    //padding: 20px;
    & iframe {
      animation-duration: 6.5s; 
      -webkit-animation-duration: 6.5s;
    }
    & h3 {
      margin: 40px 0 !important;
      color: $blue !important;
      //font-size: 1.65em !important;
      font-family: 'Greycliff CF';
      //text-transform: uppercase;
      letter-spacing: -.5px;
      border-bottom: 2px solid $blue;
      padding: 0px 0px 8px 0px !important;
      & strong {
        font-weight: 800;
      }
    }
    &.posters {
      & ul.inline {
        width: 100%;
        & li {
          width: 400px;
          margin-bottom: 30px;
          & img {
            border-bottom: 4px solid rgba(0,0,0,0.05);
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    & ul.half {
      padding: 0 !important;
      & li {
        text-align: left;
        width: 65%;
        margin: 0 0 40px 0;
        & img {
          border-bottom: 4px solid rgba(0,0,0,0.05);
          width: 100%;
          max-height: none !important;
        }
        & svg, g, img.logo {
          fill: $blue;
          height: 85px;
          border: none;
          max-width: 450px;
        }
      }
    }
    & ul.half.inline {
      padding: 0 !important;
      & li {
        text-align: center;
        width: 49.75%;
        margin: 0 0 40px 0;
        vertical-align: top;
        & img {
          border-bottom: 4px solid rgba(0,0,0,0.05);
          box-shadow: 0px -1px 1px rgba(0,0,0,0.05);
          width: 96%;
          max-height: auto !important;
        }
        & svg, g, img.logo {
          fill: $blue;
          height: 85px;
          border: none;
          max-width: 450px;
        }
      }
    }
    & ul.full {
      padding: 0 !important;
      & li {
        width: 100%;
        margin: 0 auto 40px auto;
        & img {
          border-bottom: 4px solid rgba(0,0,0,0.05);
          width: 100%;
          max-height: auto;
        }
        & svg, g, img.logo {
          fill: $blue;
          height: 85px;
          border: none;
          max-width: 450px;
        }
      }
    }
    & ul.mobile {
      width: 100%;
      padding: 0 !important;
      margin: 0;
      & li {
        width: 24%;
        padding: 0;
        margin: 0;
        display: inline-block;
        margin-bottom: 20px;
        & img {
          width: 113%;
          max-height: auto;
        }
      }
    }
    & ul.inline {
      width: 100%;
      margin: 0 auto;
      &.wide {
        width: 100%;
        & li {
          //width: 440px;
        }
      }
      & li {
        display: inline-block;
        margin-bottom: 20px;
        &:last-child {
          margin-right: 0;
          margin-bottom: 0;
        }
        & img {
          max-height: 640px;
          border-bottom: 4px solid rgba(0,0,0,0.05);
        }
        & .logo, & .logo g, &.logo path {
          fill: $red;
          height: 85px;
          border: none;
          max-width: 450px;
        }
      }
    }
  }
}
.profile-photo {
  //border: 2px solid $blue;
  //box-shadow: -6px -6px 0px $blue;
  //width: 25%;
  width: 33%;
  max-width: 360px;
  min-width: 250px;
  z-index: -10;
  position: fixed;
  left: 126px;
  top: 65px;
  //border-radius: 900px;
  & img {
    width: 100%;
    //opacity: .65;
    filter: brightness(1.18);
    //border-radius: 900px;
  }
  & p.caption {
    position: absolute !important;
    left: 0px;
    bottom: -85px;
    font-size: .95em !important;
    letter-spacing: .45px;
    z-index: 100;
    font-weight: 100;
    color: $red !important;
    //text-transform: uppercase;
    & em {
      font-style: italic;
      font-weight: 700;
      margin-bottom: 5px;
      letter-spacing: .35px;
      display: inline-block;
    }
  }
}