@import './variables.scss';
@import './typography.scss';

/* Responsive (desktop) ----------- */

@media only screen
  and (min-width : 320px)
  and (max-width : 800px)
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
  
  html {
    filter: blur(0px) !important;
  }
  footer.mobile-only {
    display: block !important;
    margin-bottom: 50px;
  }
  body {
    .content.page {
      padding: 30px;
      margin-left: 0px;
      position: relative !important;
    }
    & header {
      margin-bottom: 15px;
      padding: 10px 20px !important;
      & .title a {
        font-size: .85em !important;
      }
      & .title, & .smile {
        margin-right: 0 !important;
        margin-left: 0 !important;
      }
      & i {
        font-weight: normal !important;
      }
    }
    & header a, & header a:visited {
      padding: 20px 0 20px 20px;
      & i {
        margin-top: 10px;
        font-weight: normal !important;
      }
    }
    .content-block {
      z-index: 10;
      width: 77% !important;
    }
    .profile-photo {
      display: block;
      width: 106%;
      margin: 30px 0 125px !important;
      position: relative !important;
      top: 0px;
      left: 0px;
      & p.caption {
        position: absolute !important;
        bottom: -85px;
        left: 0px;
        font-size: .85em !important;
        width: 100%;
      }
    }      
    .example {
      /* About Page */
      & .content.page {
        & .project-nav {
          & .content-block {
            width: 100% !important;
            max-width: 100%;
            max-height: 80px;
            min-height: 80px;
            margin: 0 0 20px 0 !important;
          }
        }
      }
      
      &.about {
        height: 100vh !important;
        background: url('../images/mark_malazarte_RD1_transp.png');
        background-size: 82%;
        background-repeat: no-repeat;
        background-position: center bottom;
        background-color: $pink;
        color: $blue;
        //background-attachment: fixed;
        /*&:before {
          content: '';
          background-color: rgba(38, 48, 62, 0.40);
          width: 100vw;
          height: 100vh;
          position: fixed;
          bottom: 0;
          z-index: 1;
        }*/
        & .content-block--text {
          & h3 {
            margin-bottom: 88vh !important;
          }
        }
        & p.caption {
          top: 103vh;
          text-align: center;
          left: 30px;
          width: 80%;
          margin: 0px auto !important;
          font-size: .75em !important;
        }
        & header {
          margin-bottom: 0px;
          padding: 10px 20px !important;
          & .left {
            margin-top: 5px !important;
            & .back i {      
              font-size: 1.25em !important;
              & a {
                & i:hover {
                  color: $blue !important;
                }
              }
            }
          }
          & .title {
            margin-right: 0 !important;
            & a {
              font-size: .85em !important;
              text-align: right;
              &:hover {
                color: $blue !important;
              }
            }
          }
        }
        .about--links {
          display: block;
          & h3 {
            font-size: 1.15em;
            font-weight: 800;
            margin-top: 40px;
            margin-bottom: 15px;
            color: $red;
            & strong {
              color: $blue;
            }
          }
          & ul {
            & li {
              margin: 0 10px 55px 0px;
              display: inline-block;
              width: 100%;
            }
          }
        }
        & .content {
          &.page {
            & .content-block {
              &.project {
                margin: 0px auto !important;
              }
            }
          }
        }
      }
      & .content-block {
        width: 80% !important;
        margin: 15px auto !important;
        z-index: 10;
      }
    }
    .example .page {
      padding: 15px 30px 30px 30px !important;
      margin: 0px auto !important;
    }
    .example .content .content-block.project {
      height: auto !important;
      width: inherit !important;
      padding: 0 !important;
      max-width: 100% !important;
      margin: 0 auto !important;
      & .content-block--text {
        position: relative;
        width: 100%;
        top: inherit;
        left: inherit;
        bottom: inherit;
      }
    }
    .example .prototype {
      width: auto;
      padding: 0;
      background: transparent;
      margin-bottom: 10px;
    }
    .example .prototype ul.mobile li {
      width: 100% !important;
    }
    .content .content-block.project {
      height: 520px;
      & .content-block--text {
        //position: relative;
        //width: 100%;
        & p {
          font-size: 1.10em;
          line-height: 1.75em;
        }
      }
    }
    header h1.title {
      margin-top: 10px;
      font-size: 1.5em;
      margin-right: 20px;
    }
    .content .content-block.project h1 {
      font-size: 2em;
      line-height: 1em;
    }
    .content .content-block.project h3 {
      line-height: 1em;
    }
    .content .content-block.project p {
      font-size: 1em;
      line-height: 1.5em;
    }
  }
}

@media only screen
  and (min-width : 0px)
  and (max-width : 500px) {

  body {
    .content-block {
      //width: 93% !important;
      //margin: 0 0 30px 0 !important;
      //zoom: .95;
    }
    .example {
      & header {
        & h1 {
          & .back {
            & i {
              margin-top: -4px;
            }
          }
        }
      }
      & footer {
        & h1 {
          & .back {
            & i {
              margin-top: -11px;
            }
          }
        }
      }
    }
    .example .page {
      padding: 0;
      & .project-logo {
        text-align: center;
      }
    }
    .example .content .content-block.project {
      height: auto !important;
      padding: 0 !important;
      width: inherit !important;
      max-width: 100% !important;
      margin: 0 auto !important;
      & .content-block--text {
        position: relative;
        width: 100%;
        top: inherit;
        left: inherit;
        bottom: inherit;
      }
    }
    .example .prototype {
      width: auto;
      padding: 0;
      background: transparent;
      margin-bottom: 10px;
      & ul.full, & ul.inline, & ul.half {
        padding: 0 !important;
        width: 100% !important;
        & li {
          width: 100% !important;
          margin-bottom: 30px !important;
        }
      }
      & img, & svg, & iframe {
        width: 100% !important;
      }
    }
    .content .content-block.project {
      height: 700px;
    }
    footer.mobile-only {
      margin-bottom: 50px;
    }
  }
}

@media only screen
  and (min-width : 800px)
  and (max-width : 875px) {
    .content .content-block.project {
      width: 650px !important;
    }
}

/*@media only screen
  and (min-width : 880px)
  and (max-width : 1280px) {
    .content {
      width: 781px !important;
    }
}*/