@import './variables.scss';

/* Greycliff CF Regular */

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff-cf-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/greycliff-cf-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/greycliff-cf-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/greycliff-cf-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/greycliff-cf-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/greycliff-cf-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
}

/* Greycliff CF Light */

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff-cf-light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/greycliff-cf-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/greycliff-cf-light.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/greycliff-cf-light.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/greycliff-cf-light.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/greycliff-cf-light.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 100;
    font-style: normal;
}

/* Greycliff CF Medium */

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff-cf-medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/greycliff-cf-medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/greycliff-cf-medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/greycliff-cf-medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/greycliff-cf-medium.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/greycliff-cf-medium.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 500;
    font-style: normal;
}

/* Greycliff CF Demi Bold */

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff-cf-demi-bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/greycliff-cf-demi-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/greycliff-cf-demi-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/greycliff-cf-demi-bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/greycliff-cf-demi-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/greycliff-cf-demi-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 600;
    font-style: normal;
}

/* Greycliff CF Bold */

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff-cf-bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/greycliff-cf-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/greycliff-cf-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/greycliff-cf-bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/greycliff-cf-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/greycliff-cf-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 700;
    font-style: normal;
}

/* Greycliff CF Extra Bold */

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff-cf-extra-bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/greycliff-cf-extra-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/greycliff-cf-extra-bold.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/greycliff-cf-extra-bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/greycliff-cf-extra-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/greycliff-cf-extra-bold.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 800;
    font-style: normal;
}

/*  Greycliff CF Heavy */

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/greycliff-cf-heavy.eot'); /* IE9 Compat Modes */
    src: url('../fonts/greycliff-cf-heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('../fonts/greycliff-cf-heavy.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/greycliff-cf-heavy.woff') format('woff'), /* Pretty Modern Browsers */
        url('../fonts/greycliff-cf-heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('../fonts/greycliff-cf-heavy.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 900;
    font-style: normal;
}

/* Typography Rules */

strong {
  font-weight: 900;
}
em {
  font-style: italic;
}
.font-thin {
  font-weight: 100;
}
.font-light {
  font-weight: 400;
}
.font-reg {
  font-weight: 500;
}
.font-med {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  transition: all 0.15s ease-in-out;
  font-family: 'Greycliff CF';
}
h1 {
  color: $red;
  font-weight: 800;
}
h3 {
  color: $light-grey;
  font-weight: 700;
}
a, p {
  transition: all 0.15s ease-in-out;
  font-family: 'Greycliff CF';
}

input, textarea {
  font-family: 'Greycliff CF';
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.med {
  font-weight: 600;
}

.light {
  font-weight: 100;
}

.lowercase {
  text-transform: lowercase !important;
}

input.font::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $charc-dark;
}
input.font::-moz-placeholder { /* Firefox 19+ */
  color: $charc-dark;
}
input.font:-ms-input-placeholder { /* IE 10+ */
  color: $charc-dark;
}
input.font:-moz-placeholder { /* Firefox 18- */
  color: $charc-dark;
}