/* FONTS */


/* COLORS */

//$dark: #2B364D;
$red: #ED212D;
$blue: #223E99;
//$text: #3d3d4c;
$text: rgba(0,0,0,0.15);
$teal: #c1e8e8;
$pink: #e4d3d5;
//$grey: #aaa;
$grey: rgba(0,0,0,0.10);
$light-grey: #d5dbdf;
$light-blue: #d1d8dc;
$yellow: #ecd59b;
//$light-grey: rgba(0,0,0,0.20);
$white: #e8e3d1;
//$grey: #dcdfe0;
$transp: rgba(0,0,0,0.0);
.transp {
    color: $transp;
}

$berg-blue : #02A3D5;
$berg-tint-1: #028FBB;
$berg-tint-2: #017295;
$berg-tint-3: #014155;

$blue-lightest: #F5F9FC; /* Table Striping */
$deep-blue: #3D6AA6; /* Link color */

$charc-dark: #0C2A31; /* Use Instead of Black */
$charc-light: #394859;

$dark-grey: #1D3989;
$mid-grey: #8D9CA9;
$grey-lightest: #F4F4F4;

/* Errors, Notification, Warnings, etc, */
$red: #E34C53; 
$green: #13DF81;
$yellow: #F0C043;