<!-- Home Page Chart Placeholder -->
<div id="home-charts">
	<!-- Chart 1: US -->
	<div class="chart-container investments-us">
		<div id="investments-us-map">
			(Choropleth US Map goes here)
		</div>
		<!-- INVESTMENTS BY REGION: US TABLE -->
		<script>
		    $(document).ready(function(){
		        $('#investments-us-table').DataTable();
		    });
		</script>
		<div class="table-container">
			<table id="investments-us-table" class="display">
				<thead>
					<tr>
						<th>Top 5</th>
						<th>Total Invested</th>
						<th>No. of Investments</th>
					</tr>
				</thead>
				<tr>
					<td>California</td>
					<td>$60,010</td>
					<td>882</td>
				</tr>
				<tr>
					<td>New York</td>
					<td>$59,785</td>
					<td>802</td>
				</tr>
				<tr>
					<td>Massachussetts</td>
					<td>$59,000</td>
					<td>787</td>
				</tr>
				<tr>
					<td>Texas</td>
					<td>$58,805</td>
					<td>775</td>
				</tr>
				<tr>
					<td>Washington</td>
					<td>$56,490</td>
					<td>755</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- Chart 2: Europe -->
	<div class="chart-container investments-europe">
		<div id="investments-europe-map">
			(Choropleth Europe Map goes here)
		</div>
		<!-- INVESTMENTS BY REGION: US TABLE -->
		<script>
		    $(document).ready(function(){
		        $('#investments-europe-table').DataTable();
		    });
		</script>
		<div class="table-container">
			<table id="investments-europe-table" class="display">
				<thead>
					<tr>
						<th>Top 5</th>
						<th>Total Invested</th>
						<th>No. of Investments</th>
					</tr>
				</thead>
				<tr>
					<td>United Kingdom</td>
					<td>$60,010</td>
					<td>782</td>
				</tr>
				<tr>
					<td>France</td>
					<td>$50,010</td>
					<td>602</td>
				</tr>
				<tr>
					<td>Germany</td>
					<td>$49,010</td>
					<td>582</td>
				</tr>
				<tr>
					<td>Spain</td>
					<td>$44,010</td>
					<td>511</td>
				</tr>
				<tr>
					<td>Netherlands</td>
					<td>$39,010</td>
					<td>498</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- Chart 3: Top Investments By Industry -->
	<div class="chart-container investments-industry">
		<div id="investments-industry-chart">
			(Investments by Industry Bar Chart goes here)
		</div>
		<!-- INVESTMENTS BY REGION: US TABLE -->
		<script>
		    $(document).ready(function(){
		        $('#investments-industry-table').DataTable();
		    });
		</script>
		<div class="table-container">
			<table id="investments-industry-table" class="display">
				<thead>
					<tr>
						<th>Top 5</th>
						<th>Total Invested</th>
						<th>No. of Investments</th>
					</tr>
				</thead>
				<tr>
					<td>Shopping Facilitators</td>
					<td>$60,010</td>
					<td>882</td>
				</tr>
				<tr>
					<td>Advertising/Marketing</td>
					<td>$59,785</td>
					<td>802</td>
				</tr>
				<tr>
					<td>Online Communities</td>
					<td>$59,000</td>
					<td>787</td>
				</tr>
				<tr>
					<td>Data Management Services</td>
					<td>$58,805</td>
					<td>775</td>
				</tr>
				<tr>
					<td>Entertainment</td>
					<td>$56,490</td>
					<td>755</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<!-- What's New -->
<div id="whats-new">
	<h1><i class="fa fa-info-circle"></i> Latest Updates</h1>
	<h2>New “News” tab on the Company profile</h2>
	<p>We added a new “News” tab on the company profile page which includes news articles from VentureWire, PEA and LBO going back 24 months. You can view the news by clicking on the “News” tab within a profile page.</p>
</div>
<!-- News Articles -->
<div id="news-section">
	<h1><i class="fa fa-newspaper-o"></i> News</h1>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Cask, Now Backed by Cloudera, Releases New Big-Data Software</h2>
		<h3 class="timestamp">10 minutes ago</h3>
		<p class="article-body">
			Cask Data Inc., whose software makes it easier for developers to build applications that run on the big-data storage and analysis system Hadoop, released the third version of its product, the Cask Data Application Platform...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Digit Finds $11.3M for Personal-Savings Service</h2>
		<h3 class="timestamp">30 minutes ago</h3>
		<p class="article-body">
			Money-saving service Hello Digit Inc. just scored some cash of its own, securing $11.3 million from investors who see a big future in small change...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>CloudGenix Lands $25M Series B for Software-Defined Networks</h2>
		<h3 class="timestamp">45 minutes ago</h3>
		<p class="article-body">
			CloudGenix Inc., a developer of software for corporate networks, said it raised a $25 million Series B financing led by Bain Capital Ventures. Prior investors CRV (formerly Charles River Ventures) and Mayfield Fund participated...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Diversity, Billion-Dollar Valuations Among Topics at NVCA's Annual Meeting</h2>
		<h3 class="timestamp">1 hour ago</h3>
		<p class="article-body">
			When several hundred venture capitalists converge on San Francisco this week for an annual industry conference, the group will be discussing a number of hot topics, including how to introduce diversity into an industry that has been dominated by white males and the growing number of tech...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Cask, Now Backed by Cloudera, Releases New Big-Data Software</h2>
		<h3 class="timestamp">10 minutes ago</h3>
		<p class="article-body">
			Cask Data Inc., whose software makes it easier for developers to build applications that run on the big-data storage and analysis system Hadoop, released the third version of its product, the Cask Data Application Platform...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Digit Finds $11.3M for Personal-Savings Service</h2>
		<h3 class="timestamp">30 minutes ago</h3>
		<p class="article-body">
			Money-saving service Hello Digit Inc. just scored some cash of its own, securing $11.3 million from investors who see a big future in small change...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>CloudGenix Lands $25M Series B for Software-Defined Networks</h2>
		<h3 class="timestamp">45 minutes ago</h3>
		<p class="article-body">
			CloudGenix Inc., a developer of software for corporate networks, said it raised a $25 million Series B financing led by Bain Capital Ventures. Prior investors CRV (formerly Charles River Ventures) and Mayfield Fund participated...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Diversity, Billion-Dollar Valuations Among Topics at NVCA's Annual Meeting</h2>
		<h3 class="timestamp">1 hour ago</h3>
		<p class="article-body">
			When several hundred venture capitalists converge on San Francisco this week for an annual industry conference, the group will be discussing a number of hot topics, including how to introduce diversity into an industry that has been dominated by white males and the growing number of tech...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Cask, Now Backed by Cloudera, Releases New Big-Data Software</h2>
		<h3 class="timestamp">10 minutes ago</h3>
		<p class="article-body">
			Cask Data Inc., whose software makes it easier for developers to build applications that run on the big-data storage and analysis system Hadoop, released the third version of its product, the Cask Data Application Platform...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
	<!-- Article Snippet -->
	<article class="snippet">
		<h2>Digit Finds $11.3M for Personal-Savings Service</h2>
		<h3 class="timestamp">30 minutes ago</h3>
		<p class="article-body">
			Money-saving service Hello Digit Inc. just scored some cash of its own, securing $11.3 million from investors who see a big future in small change...
		</p>
		<p class="read-more">
			<a href="#">Full Article <i class="fa fa-arrow-right"></i></a>
		</p>
	</article>
</div>
