/* --- EASYDROPDOWN METRO THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after{
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after{
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown{
	position: relative;
	width: 305px;
	right: 140px;
	padding: 4px 6px 2px;
	text-align: left;
	cursor: pointer;
	background: #6A6964;
	color: #F2F3E5;	
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.dropdown.open{
	z-index: 2;
}

.dropdown:hover{
	background: #F2F3E5;
	color: #21211f;
}

.dropdown:after{
	content: '';
	position: absolute;
	right: 3px;
	bottom: 3px;
	top: 2px;
	width: 30px;
	background: transparent;
}



/* CARAT */

.dropdown .carat,
.dropdown .carat:after{
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -4px;
	border: 8px solid transparent;
	border-top: 8px solid #21211f;
	z-index: 2;
	
	-webkit-transform-origin: 50% 20%;
	-moz-transform-origin: 50% 20%;
	-ms-transform-origin: 50% 20%;
	transform-origin: 50% 20%;
	
}

.dropdown .carat:after{
	margin-top: -10px;
	right: -8px;
	border-top-color: #6A6964;
}

.dropdown:hover .carat:after{
	border-top-color: #F2F3E5;
}

.dropdown.focus .carat{
	border-top-color: #6A6964;
}

.dropdown.focus .carat:after{
	border-top-color: #F2F3E5;
}

.dropdown.open .carat{
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* OLD SELECT (HIDDEN) */

.dropdown .old{
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select{
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old{
	width: 100%;
	height: 100%;
}

.dropdown.touch select{
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */ 

.dropdown .selected,
.dropdown li{
	display: block;
	line-height: 1;
	padding: 4px 6px 2px;
	overflow: hidden;
	white-space: nowrap;
}

.dropdown .selected::after{
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 60px;
	
	border-radius: 0 2px 2px 0;
	box-shadow: inset -55px 0 25px -20px #6A6964;
}

.dropdown:hover .selected::after{
	box-shadow: inset -55px 0 25px -20px #F2F3E5;
}

/* DROP DOWN WRAPPER */

.dropdown div{
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: -1px;
	background: #D8D9CC;
	color
	overflow: hidden;
	opacity: 0;
}

.dropdown:hover div{
	background: #D8D9CC;
}

/* Height is adjusted by JS on open */

.dropdown.open div{
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	
	box-shadow: inset 0 -50px 30px -35px #6A6964;
}

.dropdown.scrollable:hover div::after{
	box-shadow: inset 0 -50px 30px -35px #F2F3E5;
}

.dropdown.scrollable.bottom div::after{
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	list-style: none;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.dropdown.scrollable.open ul{
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li{
	list-style: none;
	padding: 10px 12px;
	margin: 0px;
	color: #21211f;
}

/* .focus class is also added on hover */

.dropdown li.focus{
	background: #21211f;
	position: relative;
	z-index: 3;
	color: #F2F3E5;
}

.dropdown li.active{
	background: rgba(0,0,0,0.10);
	color: #21211f;
}